@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* penting agar header tidak melebar */
}

.rounded-b-full {
  border-bottom-left-radius: 9980px;
  border-bottom-right-radius: 9980px;
}

/* Tambahkan di file CSS global */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #5b7eb8 transparent; 
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #5895f7;
  border-radius: 9999px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #5895f7;
}


